ul.portfolio {
    list-style-type: none;
    padding-left: 0;
}

ul.portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

ul.portfolio li:hover {
    background: #eee;
} 

.portfolio a {
    text-decoration: none;
    color: #454545;
    display: block;
    padding: 10px;
}